<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.CompanyMapper">

    <select id="getCompanyList" resultType="com.kf.admin.pojo.Company">
        SELECT * FROM company
    </select>
    <select id="getCompanyByCompanyId" resultType="com.kf.admin.pojo.Company" parameterType="java.lang.Integer">
        SELECT * FROM company WHERE company_id = #{companyId}
    </select>
    <delete id="deleteCompanyByCompanyId" parameterType="java.lang.Integer">
        DELETE company WHERE company_id = #{companyId}
    </delete>
    <select id="getCompanyImgByCpId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT cp_img FROM company WHERE company_id = #{companyId}
    </select>
</mapper>
