<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.ClassMapper">
    <select id="getMainClassList" resultType="com.kf.admin.pojo.MainClass">
        SELECT * FROM mainclass
    </select>
</mapper>