<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.OtherInfoMapper">
  <resultMap id="BaseResultMap" type="com.kf.admin.pojo.OtherInfo">
    <constructor>
      <idArg column="pc_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="pic_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pc_content" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    pc_id, pic_id, pc_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.kf.admin.pojo.OtherInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pic_content
    where pc_id = #{pcId,jdbcType=INTEGER}
      and pic_id = #{picId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kf.admin.pojo.OtherInfoKey">
    delete from pic_content
    where pc_id = #{pcId,jdbcType=INTEGER}
      and pic_id = #{picId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kf.admin.pojo.OtherInfo">
    insert into pic_content (pc_id, pic_id, pc_content
      )
    values (#{pcId,jdbcType=INTEGER}, #{picId,jdbcType=INTEGER}, #{pcContent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kf.admin.pojo.OtherInfo">
    insert into pic_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pcId != null">
        pc_id,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="pcContent != null">
        pc_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pcId != null">
        #{pcId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="pcContent != null">
        #{pcContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kf.admin.pojo.OtherInfo">
    update pic_content
    <set>
      <if test="pcContent != null">
        pc_content = #{pcContent,jdbcType=VARCHAR},
      </if>
    </set>
    where pc_id = #{pcId,jdbcType=INTEGER}
      and pic_id = #{picId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kf.admin.pojo.OtherInfo">
    update pic_content
    set pc_content = #{pcContent,jdbcType=VARCHAR}
    where pc_id = #{pcId,jdbcType=INTEGER}
      and pic_id = #{picId,jdbcType=INTEGER}
  </update>
</mapper>