<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.push_info_tagMapper">
  <resultMap id="BaseResultMap" type="com.kf.admin.pojo.push_info_tag">
    <constructor>
      <idArg column="tag_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="pi_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pi_tag_content" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, pi_id, pi_tag_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.kf.admin.pojo.push_info_tagKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from push_info_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
      and pi_id = #{piId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kf.admin.pojo.push_info_tagKey">
    delete from push_info_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
      and pi_id = #{piId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kf.admin.pojo.push_info_tag">
    insert into push_info_tag (tag_id, pi_id, pi_tag_content
      )
    values (#{tagId,jdbcType=INTEGER}, #{piId,jdbcType=INTEGER}, #{piTagContent,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kf.admin.pojo.push_info_tag">
    insert into push_info_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="piId != null">
        pi_id,
      </if>
      <if test="piTagContent != null">
        pi_tag_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="piId != null">
        #{piId,jdbcType=INTEGER},
      </if>
      <if test="piTagContent != null">
        #{piTagContent,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kf.admin.pojo.push_info_tag">
    update push_info_tag
    <set>
      <if test="piTagContent != null">
        pi_tag_content = #{piTagContent,jdbcType=INTEGER},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
      and pi_id = #{piId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kf.admin.pojo.push_info_tag">
    update push_info_tag
    set pi_tag_content = #{piTagContent,jdbcType=INTEGER}
    where tag_id = #{tagId,jdbcType=INTEGER}
      and pi_id = #{piId,jdbcType=INTEGER}
  </update>
</mapper>