<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.kf.admin.pojo.Tag">
    <constructor>
      <idArg column="tag_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tag_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, tag_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kf.admin.pojo.Tag">
    insert into tag (tag_id, tag_name)
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kf.admin.pojo.Tag">
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kf.admin.pojo.Tag">
    update tag
    <set>
      <if test="tagName != null">
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kf.admin.pojo.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>