<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.TipMapper">

    <select id="getTipList" resultType="com.kf.admin.pojo.Tip">
        SELECT * FROM tip ORDER BY tip_createtime DESC
    </select>
    <update id="updateTip" parameterType="java.lang.String">
        UPDATE tip set tip_status = 1 WHERE tip_Id = #{tipId}
    </update>
</mapper>
