<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kf.admin.mapper.UserMapper">
    <select id="getUserByName" parameterType="java.lang.String" resultType="com.kf.admin.pojo.User">
        SELECT * from user WHERE user_name=#{username}
    </select>
    <select id="getBlackList" resultType="com.kf.admin.pojo.User">
        SELECT * from user WHERE status=0
    </select>
    <update id="addBlackList" parameterType="java.lang.String" >
        UPDATE user SET status = 0 WHERE user_id = #{userId}
    </update>
    <update id="updateUserAttr" parameterType="java.lang.Integer">
        UPDATE user set user_attc = #{attr} WHERE user_id = #{userId}
    </update>
</mapper>